Flask==2.3.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
GeoAlchemy2==0.14.1
psycopg2-binary==2.9.9
pandas==2.1.1
geopandas==0.14.0
Shapely==2.0.2
Werkzeug==2.3.7
python-dotenv==1.0.0
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
Flask-Bootstrap==3.3.7.1